<!-- <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Custom Website</title>
	<link rel="stylesheet" href="/main page/style.css">
</head> -->
<!--include Header-->
<%-include('include/_header')%>
<!--/include Header-->
<body>
    <section class="about" id="about">
        <div class="content">
            <br><br>
            <div class="title"><center><img src="https://img.icons8.com/external-victoruler-linear-colour-victoruler/64/000000/external-blood-medical-victoruler-linear-colour-victoruler.png"/><a>DONATE BLOOD give the gift of life</a><img src="https://img.icons8.com/external-victoruler-linear-colour-victoruler/64/000000/external-blood-medical-victoruler-linear-colour-victoruler.png"/></div></center>
        <center><img src="/assets/css/rbc.jpg" alt="rbc"></center>
            <div class="about-details">
                
                <div class="right">
                    
                <center><p>Web-based Blood Donation Management System is a management system website that enables individuals who want to donate blood to help the needy. It also enables hospitals to record and store the data for people who want to communicate with them, and it also provides a centralized blood bank database. The system is developed by using HTML, PHP, and MySQL as a database system to manage and store the data.  The system targets three types of user: the public who wants to donate blood, the recipients who need the donated blood, and the hospitals who that work as an intermediary to manage the communication between the donors and recipients. The main objectives for developing the website is to educate the community on the benefits of blood donation, develop a Web-Based Blood Bank System to manage the records of donors and recipients, and encourage voluntary blood donation, easily accessing any information about blood type and the distribution of the blood in various hospitals in  based on the hospital needs. </p></center>
                    <div class="button">
                    <center><a href=" https://forms.gle/UUst7qGS8nAr72iK9" target="_blank"><button>Feedback</button></a></center>
              </div>      
        </div>
    </section>
<!--include Footer-->
<%-include('include/_footer')%>
<!--/include Footer-->